/*Flex Training SEction */

.container{
    display: flex;
}

.box{
    weight : 1000px;
    height : 200px;
}

#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#blue{
    background-color: blue;
}
