/* img { 
    width :200;
    height :100px;
    object-fit: cover;
} 

.avatar {
    width : 400px;
    height:400px;

} */

/* #main {
/* width :200;
height: 500;

} */

/* h1{
    color : blue;
    background-color: #8121f488;
    position: sticky;
    top: 60px;
} */

/* nav{
    display: block  ;
}

.outer{
    width: 200px;
    height:300px;
    background-color: burlywood';
    position: static;
    top : 20px;
    
} */

.inner {
width: 20px;

} */


.container{
    display :flex;
}

.box{
    
    height : 20px;
    width:  50px;

}

#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#blue{
    background-color: blue;
}
